// app global css
.font-instrument {
  font-family: "Instrument Sans", sans-serif;
}

.font-instrument-medium {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 500;
}

.font-instrument-semibold {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 600;
}

.font-instrument-bold {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 700;
}

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}
